<div class="row">
    <div class="col-lg-8">
        <h3>Process</h3>
        <p>
            <button class="btn btn-success" ng-click="openNewProcessDialog()">Create New Process</button>
        </p>
        <table class="table table-bordered table-striped" ng-if="processes.length > 0">
            <thead>
                <th>Service</th>
                <th>Process ID</th>
                <th>Command</th>
                <th>Args</th>
                <th>Endpoints</th>
                <th class="text-center">Status</th>
                <th>Operation</th>
            </thead>
            <tbody>
                <tr ng-repeat="p in processes | orderBy: '-procID'">
                    <td class="col-md-1">{{ p.svcName }}</td>
                    <td class="col-md-1">{{ p.procID }}</td>
                    <td class="col-md-1">{{ p.command }}</td>
                    <td class="col-md-3">{{ p.args.join(' ') }}</td>
                    <td class="col-md-3">
                        <li ng-repeat="endpoint in p.endpoints">{{ endpoint }}</li>
                    </td>
                    <td class="col-md-1 text-center">
                        <span class="label label-success" ng-if="p.desiredState == 'StateStarted' && p.currentState == 'StateStarted' && p.isAlive"> Running </span>
                        <span class="label label-warning" ng-if="p.desiredState == 'StateStarted' && p.currentState == 'StateStopped' && !p.isAlive"> Starting </span>
                        <span class="label label-danger" ng-if="p.desiredState == 'StateStarted' && p.currentState == 'StateStarted' && !p.isAlive"> &nbsp;&nbsp;Fatal&nbsp;&nbsp;&nbsp; </span>
                        <span class="label label-warning" ng-if="p.desiredState == 'StateStopped' && p.currentState == 'StateStarted'"> Stopping </span>
                        <span class="label label-warning" ng-if="p.desiredState == 'StateStopped' && p.currentState == 'StateStopped'"> Stopped </span>
                        <span class="label label-warning" ng-if="p.desiredState == 'StateStarted' && p.currentState == 'StateStopped' && p.isAlive"> Unknown </span>
                    </td>
                    <td class="col-md-4">
                        <button class="btn btn-default btn-xs" ng-if="p.desiredState == 'StateStopped' && p.currentState == 'StateStopped'" ng-click="start(p)">Start</button>
                        <button class="btn btn-warning btn-xs" ng-click="stop(p)">Stop</button>
                        <button class="btn btn-danger btn-xs" ng-click="delete(p)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
