<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Overview</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.services"><i class="fa fa-table fa-fw"></i> Services</a>
            </li>
            
            <li ui-sref-active="active">
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> Nodes</a>
                <ul class="nav nav-second-level" collapse="collapseVar==1">
                    <li ng-repeat="host in hosts | orderBy: 'publicIP'" ui-sref-active="">
                        <a ui-sref="dashboard.host-status({machID: host.machID})">{{ host.publicIP }}
                            <span class="label {{ host.isAlive? 'label-success' : 'label-warning' }}">{{ host.isAlive? 'Online' : 'Offline' }}</span>
                        </a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 
