<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Host Status {{ host.publicIP }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered">
                <tr>
                    <td>Host Meta</td>
                    <td>{{ host.hostMeta }}</td>
                </tr>
                <tr>
                    <td>Host Name</td>
                    <td>{{ host.hostName }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><label class="label {{ host.isAlive? 'label-success': 'label-warning' }}">{{ host.isAlive? 'Online': 'offline' }}</label></td>
                </tr>
                <tr>
                    <td>IP</td>
                    <td>{{ host.publicIP }}</td>
                </tr>
            </table>
            <table class="table table-bordered" ng-if="host.isAlive">
                <tr ng-repeat="(key, value) in host.machine">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr> 
            </table>
           
            <script type="text/ng-template" id="NewProcessModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Create New Process</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Service Name</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="newProcData.serviceName">
                                    <option ng-repeat="service in services" value="{{ service.svcName }}">{{ service.svcName }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Arguments</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="newProcData_args_host" value="{{ getServiceArgs(newProcData.serviceName) }}" type="text">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </div>
    </div>
    <div class="row" ng-if="host.isAlive">
        <div class="col-lg-12">
            <h3>Process</h3>
            <p>
                <button class="btn btn-success" ng-click="openNewProcessDialog()">Create New Process</button>
            </p>
            <table class="table table-bordered table-striped" ng-if="processes.length > 0">
                <thead>
                    <th>Service</th>
                    <th>Process ID</th>
                    <th>Command</th>
                    <th>Args</th>
                    <th>Endpoints</th>
                    <th class="text-center">Status</th>
                    <th>Operation</th>
                </thead>
                <tbody>
                    <tr ng-repeat="p in processes | orderBy: '-procID'">
                        <td class="col-md-1">{{ p.svcName }}</td>
                        <td class="col-md-1">{{ p.procID }}</td>
                        <td class="col-md-2">{{ p.command }}</td>
                        <td class="col-md-3">{{ p.args.join(' ') }}</td>
                        <td class="col-md-3">
                            <li ng-repeat="endpoint in p.endpoints track by $index">{{ endpoint }}</li>
                        </td>
                        <td class="col-md-1 text-center">
                            <span class="label label-success" ng-if="p.desiredState == 'StateStarted' && p.currentState == 'StateStarted' && p.isAlive"> Running </span>
                            <span class="label label-warning" ng-if="p.desiredState == 'StateStarted' && p.currentState == 'StateStopped' && !p.isAlive"> Starting </span>
                            <span class="label label-danger" ng-if="p.desiredState == 'StateStarted' && p.currentState == 'StateStarted' && !p.isAlive"> &nbsp;&nbsp;Fatal&nbsp;&nbsp;&nbsp; </span>
                            <span class="label label-warning" ng-if="p.desiredState == 'StateStopped' && p.currentState == 'StateStarted'"> Stopping </span>
                            <span class="label label-warning" ng-if="p.desiredState == 'StateStopped' && p.currentState == 'StateStopped'"> Stopped </span>
                            <span class="label label-warning" ng-if="p.desiredState == 'StateStarted' && p.currentState == 'StateStopped' && p.isAlive"> Unknown </span>
                        </td>
                        <td class="col-md-1">
                            <button class="btn btn-success btn-xs btn-block" ng-if="p.desiredState == 'StateStopped' && p.currentState == 'StateStopped'" ng-click="start(p)">Start</button>
                            <button class="btn btn-warning btn-xs btn-block" ng-if="p.desiredState == 'StateStarted' && p.currentState == 'StateStarted'" ng-click="stop(p)">Stop</button>
                            <button class="btn btn-danger btn-xs btn-block" ng-click="delete(p)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
